@charset "utf-8";
/********* 메인, 서브 공통헤더 **********/

/* 공통 */
.hidden-txt {
	position:absolute !important;  
	width:1px; 
	height:1px; 
	overflow:hidden;
	clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip:rect(1px, 1px, 1px, 1px);
}

/* PC */
#header {
	box-shadow: -2px 0px 6.2px 0.8px rgba(0, 0, 0, 0.22);
	background-color: #ffffff;
	text-align: center;
	position: relative;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: calc(1920px - 48px);
	height: 64px;
}

body.main #header {
	min-width: 1920px;
}

#header .inner {
	padding: 0 24px;
}

#header .main-logo {
	float: left;
	margin-right: 40px;
}

#header .main-logo a {
	display: block;
    width: 183px;
    height: calc(64px - 16px);
    padding: 8px 0;
}

#header .sdot-btn {
	display:inline-block;
	border: 2px solid #426aff;
	border-radius: 10px;
	line-height: 39px;
	height: 40px;
	/* padding: 0 53px; */
	width: 160px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	margin-top: 12px;
}

#header .sdot-btn span {
	font-size: 20px;
	color: #426aff;
	font-family: 'NotoSansKR-Bold';
}

#header .gnb-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

#header .gnb-menu {
	width: 838px;
	margin: 0 auto;
}

#header .gnb-menu .depth-wrap {
	position: relative;
	float:left;
	/* padding-right: 40px; */
	padding: 0 20px;
}
#header .gnb-menu .depth-wrap:last-child {
	margin-right: 0;
}

#header .gnb-menu .depth-wrap .depth1-menu {
	display: block;
	height: 64px;
	line-height: 56px;
}

#header .gnb-menu .depth-wrap .depth1-menu span {
	color: #002160;
	font-family: 'NotoSansKR-Medium';
	vertical-align: middle;
	
}

#header .gnb-menu .depth-wrap .depth1-menu em {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

#header .depth2-wrap {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #c4c6c8;
	border-top: 2px solid #426aff;
	padding: 8px 0;
	text-align: left;
	left: 0;
	cursor: pointer;
	box-sizing: border-box;
}

#header .depth-wrap.on .depth2-wrap {
	display: block;
}


#header .depth2-wrap .depth2-list {
	float: left;
}

#header .depth2-wrap .depth2-list .title {
	padding-left: 16px;
	font-family: 'NotoSansKR-Medium';
	padding: 8px 15px;
    line-height: 1;
}


#header .depth2-wrap .depth2 a {
	display: block;
	font-size: 14px;
	line-height: 14px;
	padding: 8px 15px;
	color: #474747;
}

#header .depth2-wrap .depth2 a:hover {color:#426aff}

#header .depth-wrap.category-data .depth2-wrap {
	min-width: 136px;
}
#header .depth-wrap.category-tool .depth2-wrap {
	min-width: 175px;
}
#header .depth-wrap.category-community .depth2-wrap {
	min-width: 140px;
}
#header .depth-wrap.category-my .depth2-wrap {
	min-width: 142px;
}
#header .depth-wrap.category-info .depth2-wrap {
	min-width: 150px;
}
#header .depth-wrap.category-admin .depth2-wrap {
	min-width: 436px;
	left: -132px;
}

#header .gnb-menu .data-icon {
	background: url('/common/images/ic-gnb-menu-data.png') no-repeat;
	width: 17px;
	height: 17px;
	background-size: contain;
}
#header .gnb-menu .visual-icon {
	background: url('/common/images/ic-gnb-menu-visual.png') no-repeat;
	width: 20px;
	height: 14px;
	background-size: contain;
}
#header .gnb-menu .community-icon {
	background: url('/common/images/ic-gnb-menu-community.png') no-repeat;
	width: 20px;
	height: 20px;
	background-size: contain;
}
#header .gnb-menu .mypage-icon {
	background: url('/common/images/ic-gnb-menu-my.png') no-repeat;
	width: 19px;
	height: 21px;
	background-size: contain;
}
#header .gnb-menu .info-icon {
	background: url('/common/images/ic-gnb-menu-info.png') no-repeat;
	width: 23px;
	height: 23px;
	background-size: contain;
}
#header .gnb-menu .admin-icon {
	background: url('/common/images/ic-gnb-menu-admin.png') no-repeat;
	width: 24px;
	height: 22px;
	background-size: contain;
}

#header .sub-menu {
	float:right;
	margin-top: 22px;
}

#header .sub-menu a {
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	float:left;
	margin-right: 23px;
}
#header .sub-menu a:last-child {
	margin-right: 0;
}

#header .sub-menu .info-icon {
	background: url('/common/images/ic-gnb-info.png') center no-repeat;
	background-size: 19px 22px;
}
#header .sub-menu .alarm-icon {
	background: url('/common/images/fa-bell-o.png') center no-repeat;
	background-size: 18px 22px;
}
#header .sub-menu .mypage-icon {
	background: url('/common/images/user-ico.png') center no-repeat;
	background-size: 19px 22px;
}

#header .sub-menu .icon-label {
	font-size: 15px;
	position: absolute;
	display: block;
	color: #fff;
	background: #ff1e1e;
	width: 24px;
	line-height: 16px;
	height: 18px;
	border-radius: 9px;
	right: -13px;
    top: -11px;
}





/* user popup */
.user-popup {
	display: none;
	position: absolute;
	right: 22px;
	top: 58px;
	background: #fff;
	border: 1px solid #c4c6c8;
	box-sizing: border-box;
	font-size: 14px;
	padding: 16px 17px;
	width: 136px;
	text-align: left;
	color: #474747;
}

.user-popup.on {
	display: block;
}

.user-popup:before {
	position: absolute;
	right: 8px;
	top: -8px;
	content:'';
	display: block;
	width: 11px;
	height: 10px;
	background: #fff url('/common/images/user_pop_ico.png') no-repeat;
	background-size: contain;
	/* border-top: 1px solid #c4c6c8;
	border-right: 1px solid #c4c6c8;
	transform: rotate(-45deg); */
}

.user-popup .user-name {
	line-height: 1;
}

.user-popup .user-name span {
	color:#426aff;
	line-height: 1;
}

.user-popup a {
	display: block;
    line-height: 1;
}

.user-popup .user-name:after {
	margin-top: 15px;
	width: 102px;
	height: 1px;
	background-color: #bfbfbf;
	content: '';
	display: block;
}

.user-popup li {
	margin-top: 15px;
}

/* footer */
#footer {
	min-width: 1080px;
	border-top: 1px solid #adadad;
	background: #fff;
	padding-top: 24px;
	height: 61px;
	box-sizing: border-box;
}

#footer .inner {
	width: 1080px;
	margin: 0 auto;
}

#footer .copy {float:left; font-family: 'NotoSansKR-Medium'; font-size: 12px; line-height: 1;}
#footer .footer-info {float:right; font-size: 12px; line-height: 1;}