@charset "utf-8";
/********* 기존 페이지 리뉴얼  **********/

button {
	/* 버튼 초기화 */
	background: inherit; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;
}

/* 기본 타입 color00 */
.btn.color00 {
    border: 0;
    background: #426aff;
    color: #fff;
    vertical-align: top;
    min-width: 160px;
    padding: 0 30px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}

.btn.color01 {
    background: #eef2fb;
    color: #426aff;
    border: 1px solid #426aff;
    box-sizing: border-box;
    vertical-align: top;
    min-width: 160px;
    padding: 0 30px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}
.btn.color02 {
    border: 0;
    color: #fff;
    background: #223786;
    vertical-align: top;
    min-width: 160px;
    padding: 0 30px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}
.btn.color03 {
    border: 0;
    color: #fff;
    background:#8795ff;
    vertical-align: top;
    min-width: 160px;
    padding: 0 30px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}
.btn.color04 {
    border: 0;
    color: #fff;
    background:#e33d3e;
    vertical-align: top;
    min-width: 160px;
    padding: 0 30px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}



/* 공통 */
.hidden-txt {
	position:absolute !important;  
	width:1px; 
	height:1px; 
	overflow:hidden;
	clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip:rect(1px, 1px, 1px, 1px);
}

/* 스크롤바 */
.table-responsive.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
    left: 0;
    margin: 0;
}

.table-responsive.scrollbar-outer > .scroll-element.scroll-y {
    background: transparent;
}

input::placeholder {
    color: #9fa1a5;
}

/* 체크박스 */
input[type="checkbox"] + label:before {
	content:'';
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: solid 2px #c5caea;
	background-color: transparent;
	cursor: pointer;
	margin-right: 9px;
	vertical-align: middle;
    margin-bottom: 3px;
    box-sizing: border-box;
}
input[type="checkbox"]:checked + label:before {
	border: solid 2px #426aff;
	background: #426aff url('/common/images/check-solid.png') center no-repeat;
	background-size: 70%;
} 
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	color: #808080;
	font-family: 'NotoSansKR-Medium';
}
input[type="checkbox"]:checked + label {
	color: #426aff;
}

#agre_chkbx + label:before {
    width: 25px;
    height: 25px;
}
#agre_chkbx + label {
    font-size: 14px;
    color: #3f3f3f;
}

/* 라디오 */
input[type="radio"] + label:before {
	content:'';
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: solid 2px #c5caea;
	background-color: transparent;
	cursor: pointer;
	margin-right: 9px;
	vertical-align: middle;
    margin-bottom: 3px;
    box-sizing: border-box;
}
input[type="radio"]:checked + label:before {
	border: solid 2px #426aff;
	background: #426aff url('/common/images/check-solid.png') center no-repeat;
	background-size: 70%;
} 
input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #808080;
	font-family: 'NotoSansKR-Medium';
}
input[type="radio"]:checked + label {
	color: #426aff;
}


/* map popup */
.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
}

.leaflet-popup-content {
    font-size: 14px;
}

.tooltip_col {display: inline-block; color: #426aff}
.tooltip_col b {color: #426aff}

.leaflet-popup-content {
    margin: 22px 37px 22px 25px !important;
}

.leaflet-popup-content p {
    margin: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 12px !important;
    right: 25px !important;
    width: 12px !important;
    height: 12px !important;
    font-size: 0 !important;
    padding: 0 !important;
    background: url('/common/images/btn_close_t.png') no-repeat !important;
    background-size: contain !important;
}

/* layout */
.content-wrapper {
    width: 1080px;
    margin: 0 auto;
    padding-top: 64px;
    min-height: calc(100vh - 125px) !important;
}

.content-wrapper .content {
    padding-bottom: 60px;
}

.content-header {
    padding-top: 60px;
}

.content-header h1 {
    font-family: 'NotoSansKR-Bold';
    font-size: 24px;
    color: #44474a;
}

.content-header small {
    font-size: 16px;
    color: #44474a;
}

.box-success {
    background: #eef2fb;
    padding: 8px 16px;
    margin-top: 40px;
    margin-bottom: 21px;
}

.box-success .box-body {
    margin-top: 0;
    border: 0;
}

.table td input[type=text],
.form-control {
    box-sizing: border-box;
    border: 1px solid #c4c6c8;
    border-radius: 3px;
	font-size: 12px;
	color: #44474a;
    padding-left: 9px;
    padding-right: 24px;
	height: 41px;
	font-family: 'NotoSansKR-Regular';
    letter-spacing: -0.6px;
}
select.form-control {
    background: #fff url('/common/images/ic-arrow.png') no-repeat;
    background-position: right 10px bottom 50%;
    background-size: 9px 5px;
}

select.form-control { 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none;
}

/* 지도 검색 */
.download-search .box-header .form-inline {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 7px;
}
.download-search .box-header .form-inline .form-group {
    /* flex-basis: 154px; */
    margin-left: 8px;
}
.download-search .box-header .form-inline .form-group:first-child {
    margin-left: 0;
}
.download-search .box-header .form-inline .form-group:nth-child(2) {
    flex-basis: 100px;
}
.download-search .box-header .form-inline .form-group:nth-child(3) {
    flex-basis: 232px;
}

.download-search .box-header .form-inline .form-group select,
.download-search .box-header .form-inline .form-group input {
    width: 100%;
}
.download-search .box-header .form-inline .form-group:first-child select,
.download-search .box-header .form-inline .form-group:first-child input {
    width: 119px;
}

.form-control {position: relative;}
#sch_start_ymd,
#sch_end_ymd {
    background: #fff url('/common/images/ic-cal.png') no-repeat;
    background-size: 17px 15px;
    background-position: right 7px top 50%;
    padding-right: 9px;
}

#sch_start_ymd {
    margin-right: 2px;
}
#sch_end_ymd {
    margin-left: 2px;
}



/* 지도 검색 */
.map-search .box-header .form-inline {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 7px;
}
.map-search .box-header .form-inline .form-control,
.map-search .box-header .form-inline .form-group {
    flex-basis: 154px;
    margin-left: 8px;
}

.map-search .box-header .form-inline .form-control:first-child {
    margin-left: 0;
}
/* 상단 검색 */
.box-success .form-inline {
    display: flex;
    justify-content: space-between;
}
.box-success .form-inline .form-group {
    flex: 1;
    margin-right: 8px;
}

.box-success .form-inline .form-group:nth-child(2),
.box-success .form-inline .form-group:nth-child(3) {
    flex-basis: 10px;
}

.box-success .form-inline .form-group:last-child {
    margin-right: 0;
}

.box-success .form-inline .form-group select,
.box-success .form-inline .form-group input {
    width: 100%;
}


.form-group:last-child {
    position: relative;
}

.form-group:last-child .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.form-group:last-child .input-group-btn .btn {
    background: url('/common/images/ic-search.png') center no-repeat;
    background-size: 22px 22px;
    width: 39px;
    height: 41px;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.form-group:last-child .input-group-btn .btn .fa {
    font-size: 0;
}

/* table */
.table td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table th input,
.table td input {
    border: 0;
    min-height: 30px;
    width: calc(100% - 15px);
    border: 1px solid #c4c6c8;
    border-radius: 3px;
    box-sizing: border-box;
    color: #44474a;
    font-family: 'NotoSansKR-Regular';
    letter-spacing: -0.6px;
    /* margin: 8px 0; */
}

.table .text-area textarea {
    height: auto;
    padding: 0;
    padding: 10px;
    width: 100%;
    /* min-height: 302px; */
    height: 298px;
    resize: none;
    border: 1px solid #c4c6c8;
    border-radius: 3px;
    font-size: 12px;
    color: #44474a;
    font-family: 'NotoSansKR-Regular';
    letter-spacing: -0.6px;
}
/* .table .text-area textarea {
    min-height: auto;
    height: 41px;
} */




.text-left td,
.text-left th {
    text-align: left !important;
    padding: 8px 0;
    padding-left: 15px;
}

.box-header {
    /* width: 100%; */
    height: 56px;
    background: #eef2fb;
    margin-bottom: 8px;
    margin-top: 32px;
    padding: 0 20px;
}

.box-title {
    font-size: 16px;
    color: #44474a;
    font-family: 'NotoSansKR-Bold';
    line-height: 56px;
}

.box-header + .box-body {
    margin-top: 0;
    overflow-y: hidden;
}

.box-body {
    margin-top: 16px;
    border-top: 2px solid #426aff;
}

.box-body table th,
.box-body table td {
    font-size: 14px;
    letter-spacing: -0.7px;
}


.box-body table caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.box-body table th {
    background: #f5f7fa;
}


/* type01 */
.box-body table {
    width: 1080px;
    border-bottom: 1px solid #c4c6c8;
}

.box-body table th {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.box-body table .double th {
    height: 30px;
    line-height: 30px;
}


.box-body table td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    border-right: 1px solid #c4c6c8;
    border-top: 1px solid #c4c6c8;
    cursor: pointer;
    box-sizing: border-box;
}

.box-body table td:last-child {
    border-right: 0;
}

.box-body table .text-left {
    padding-left: 15px;
}

/* type02 */
.box-body table.type02 th,
.box-body table.type02 td {
    height: 48px;
    line-height: normal;
    vertical-align: middle;
    border-right: 1px solid #c4c6c8;
    border-top: 1px solid #c4c6c8;
    box-sizing: border-box;
}

.box-body table.type02 tr td:last-child {
    border-right: 0;
}

.box-body table.type02 tr:first-child td,
.box-body table.type02 tr:first-child th {
    border-top: 0;
}

/* border-right: 1px solid #c4c6c8;
border-top: 1px solid #c4c6c8; */


/* pagination */
.option-bar {position: relative;}
.pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


.pagination > li:first-child a,
.pagination > li:last-child a{
    width: 32px;
    height: 32px;
    border: 1px solid #adadad;
    box-sizing: border-box;
    background: #fff;
    font-size: 0;
    display: block;
}

.pagination > li:first-child a {
    background: url('/common/images/bu_arrow_location.png') center no-repeat;
    background-size: 5px 9px;
}
.pagination > li:last-child a {
    background: url('/common/images/bu_arrow_location_right.png') center no-repeat;
    background-size: 5px 9px;
}

.pagination ul {
    display: flex;
    margin: 0 24px;
}
.pagination li {
    margin: 0 8px;
}
.pagination li:first-child {
    margin-left: 0;
    margin-right: 16px;
}
.pagination li:last-child {
    margin-right: 0;
    margin-left: 16px
}
.pagination li a {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #adadad;
    color: #3f3f3f;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.pagination li.active a {
    background: #eef2fb;
    border: 1px solid #426aff;
    color: #426aff;
}

.pull-left {float: unset;}

.box-footer {
    position: relative;
    margin-top: 20px;
    min-height: 32px;
}

.box-footer.mgt40 {
    margin-top: 40px;
}
.box-footer.mgt24 {
    margin-top: 24px;
}

#sch_row_per_page_2,
#sch_row_per_page_4,
#sch_row_per_page {
    width: 120px;
}

.table.tab-wrap {
    width: 100%;
    margin-top: 39px;
    margin-bottom: 32px;
    height: 54px;
}

.table.tab-wrap td {
    box-sizing: border-box;
    border: 1px solid #babec8;
    background: #eef2fb;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
}
.table.tab-wrap td .btn {
    height: 100%;
    font-size: 14px;
    font-family: 'NotoSansKR-Medium';
    width: 100%;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
    color: #3f3f3f;
    
}

.table.tab-wrap td .btn-primary {
    background: #fff;
    color: #426aff;
    border: 2px solid #426aff;
    border-bottom: 0;
    box-sizing: border-box;
}

.table.tab-wrap td .btn-default {
    border-bottom: 1px solid #babec8;
    border-top: 1px solid #babec8;
}


.box-footer:after {
    content:'';
    display: block;
    clear: both;
}

.btn {
    cursor: pointer;
}
.btn[onclick^=fnList],
.btn[onclick^=fnGoList]{
    border: 0;
    background: #8795ff;
    color: #fff;
    vertical-align: top;
    width: 157px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    float: left;
}
.btn[onclick^=fnExceldownload] {
    border: 0;
    background: #426aff;
    color: #fff;
    vertical-align: top;
    width: 249px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    float: right;
}

.btn[onclick^=fnDownload] {
    border: 0;
    background: #426aff;
    color: #fff;
    vertical-align: top;
    width: 249px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    float: right;
}


.box-footer .pull-right {
    margin-top: 32px;
    /* text-align: right; */
}

.toggle-wrap {
    border: 1px solid #b6b8bc;
    border-top: 2px solid #426aff;
    box-sizing: border-box;
    padding: 0 23px;
}

span[name=toggle-control] {
    display: block;
}
.toggle-wrap span[name=toggle-control] a {
    line-height: 60px;
    color: #426aff;
    font-family: 'NotoSansKR-Medium';
    
}

.toggle-wrap span[name=toggle-control] a:after {
    content:'';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 8px;
    background: url('/common/images/arrow-down.png') no-repeat;
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.toggle-wrap span[name=toggle-control]:nth-child(2) a:after {
    content:'';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 8px;
    background: url('/common/images/arrow-up.png') no-repeat;
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.toggle-wrap .box-body {
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
}

.toggle-wrap .box-body table {
    width: 1032px;
    margin-bottom: 25px;
}

.toggle-wrap .box-body#packet_info {
    border-top: 2px solid #84878a !important;
    margin-bottom: 25px;
}

.box-header .form-group b {
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    line-height: 56px;
}

.box-header .form-group .date,
.box-header .form-group em {
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    line-height: 56px;
}

.box-header .form-group .date {
    margin-right: 16px;
}

.refresh-btn {
    float: right;
    display: block;
    border: 0;
	width: 22px;
	height: 22px;
	background: url('/common/images/ic-refresh.png') no-repeat;
	background-size: contain;
	margin-top: 18px;
}

.date-wrap {
    float: right;
}

.box-agree {
    margin-top: 24px;
    border: 1px solid #c4c6c8;
    font-size: 14px;
    padding: 13px 12px;
}

.box-agree .pull-right {
    margin: 0;
}

.box-agree #agre_chkbx + label {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.box-agree #agre_chkbx + label:after {
    content:'';
    display: block;
    width: 1px;
    height: 70px;
    background: #c4c6c8;
    position: absolute;
    left: -24px;
    top: -21px;
}

/* 시각화 그래프 */
.visual-tab {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 65px;
}
.visual-tab .tab {
    position: relative;
}

.visual-tab .tab .btn {
    display: block;
    width: 235px;
    height: 80px;
    border-radius: 40px;
    background: #eef2fb;
}

.visual-tab .tab .txt {
    position: absolute;
    left: 86px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'NotoSansKR-Medium';
    font-size: 14px;
    color: #426aff;
    display: inline-block;
}

.visual-tab .tab.on .btn {
    background: #426aff;
}
.visual-tab .tab.on .txt {
    color: #fff;
}

.visual-tab .tab .circle-ico {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    background: #fff;
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

.visual-tab .tab .circle-ico.step01 {
    background: #fff url('/common/images/img-step-1.png') center no-repeat;
}
.visual-tab .tab .circle-ico.step02 {
    background: #fff url('/common/images/img-step-2.png') center no-repeat;
}
.visual-tab .tab .circle-ico.step03 {
    background: #fff url('/common/images/img-step-3.png') center no-repeat;
}
.visual-tab .tab .circle-ico.step04 {
    background: #fff url('/common/images/img-step-4.png') center no-repeat;
}

.visual-tab .tab:after {
    content:'';
    display: block;
    position: absolute;
    top: 50%;
    right: -28px;
    width: 13px;
    height: 13px;
    transform: translateY(-50%) rotate(45deg);
    border: 5px solid #aab6c1;
    border-left: 0;
    border-bottom: 0;
}

.visual-tab .tab:last-child:after {
    display: none;
}

.sub-txt {
    font-size: 18px;
    font-family: 'NotoSansKR-Bold';
    color: #44474a;

}

.visual .table.tab-wrap {
    width: auto;
    margin-top: 28px;
    margin-bottom: 24px;
}

.step-btn {
    display: block;
    margin: 32px auto 0;
    width: 300px;
    height: 50px;
    background: #426aff;
    text-align: center;
}

.step-btn.step01 {
    margin-top: 40px;
}

.step-btn span {
    color: #fff;
    font-size: 20px;
    font-family: 'NotoSansKR-Medium';
    line-height: 49px;
}

.h286 {
    height: 286px;
}

.yscroll-table {
    border-bottom: 1px solid #c4c6c8;
}

.yscroll-table table tr:first-child td {
    border-top: 0;
}
.box-body .yscroll-table table {
    border-bottom: 0;
}

.yscroll-table table td {
    box-sizing: content-box;
}

.step-cont {
    margin-top: 24px;
    padding-top: 11px;
    border-top: 1px solid #426aff;
}

.step-cont .box-header {
    margin-top: 0;
}


.step-cont section.field-box {
    width: 260px;
    float: left;
}
.step-cont section.recm-box {
    width: 787px;
    float: right;
}
.step-cont section .box-header {
    height: 64px;
}
.step-cont section .box-header .box-title {
    display: inline-block;
    font-family: 'NotoSansKR-Medium';
    vertical-align: middle;
    line-height: 64px;
}

.box-header .box-sub {
    font-size: 10px;
    vertical-align: middle;
    margin-left: 6px;
    color: #44474a;
}

.box-header .btn-wrap {
    float:right;
    margin-top: 16px;
}

.box-header .btn-wrap .btn {
    display: inline-block;
    width: 120px;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

.box-header .btn-wrap .btn span {
    font-size: 14px;
    vertical-align: middle;
}
.box-header .btn-wrap .btn.save-btn {
    background: #fff;
    border: 1px solid #426aff;
    margin-right: 4px;
}
.box-header .btn-wrap .btn.save-btn span {
    color: #426aff;
}
.box-header .btn-wrap .btn.next-btn {
    background: #426aff;
}
.box-header .btn-wrap .btn.next-btn span {
    color: #fff;
    line-height: 1;
}

.visual .box-cont .field-table {
    width: 100%;
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
}

.visual .box-cont .field-table td {
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
    height: 50px;
    font-size: 12px;
    line-height: 49px;
}

.visual .box-cont .field-table td:nth-child(1) {
    padding-left: 9px;
}
.visual .box-cont .field-table td:nth-child(2),
.visual .box-cont .field-table td:nth-child(3) {
    padding-left: 8px;
}
.visual .box-cont .field-table td:nth-child(3) select {
    width: 88px;
}

.visual .box-cont .field-table input[type="checkbox"] + label:before {
    width: 22px;
    height: 22px;
    margin: 0;
    
}
.recm-box .box-cont {
    position: relative;
}
.recm-box .box-cont:before {
    position: absolute;
    left: -17px;
    top: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 1px;
    background:#b3b3b3;
}

.graph-choice li {
    float: left;
    width: 255px;
    height: 200px;
    margin-right: 11px;
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
    margin-top: 9px;
    cursor: pointer;
    position: relative;
}
.graph-choice li:nth-child(-n+3){
    margin-top: 0;
} 
.graph-choice li:nth-child(3n) {
    margin-right: 0;
}

.graph-choice li.checked:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 1;
}
.graph-choice li.checked:after {
    content:'';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 76px;
    height: 76px;
    background: #426aff url('/common/images/check-solid.png') center no-repeat;
    background-size: 28px 23px;
    border-radius: 76px;
    z-index: 2;
}

.graph-choice li img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 215px;
    max-height: 160px;
}

.step-cont .choice-data {
    margin-bottom: 40px;
}

.step-cont .choice-data .box-header {
    width: calc(196px - 40px);
    float: left;
    height: 60px;
}

.step-cont .choice-data .box-header .box-title {
    line-height: 60px;
}

.step-cont .choice-data .box-cont {
    background: #f0f1f3;
    width: calc(876px - 48px);
    float: right;
    padding: 10px 24px;
}

.step-cont .choice-data .box-cont .form-control {
    height: 40px;
    width: 100%;
}

.step-cont .choice-data .box-cont {
    display: flex;
    justify-content: space-between;
}

.step-cont .choice-data .box-cont .form-group:nth-child(1) {
    width: 226px;
    flex-basis: auto;
}
.step-cont .choice-data .box-cont .form-group:nth-child(2) {
    width: 586px;
    flex-basis: auto;
}

.choice-period .box-cont {
    background: #f0f1f3;
    padding: 0 24px;
    height: 60px;
}

.choice-period .box-cont ul {
    padding-top : 10px;
}

.choice-period .box-cont li {
    float: left;
}

.choice-period .box-cont li:nth-child(2) {
    float: right;
}

.choice-period .box-cont li:nth-child(2) .form-group .form-control {
    width: 317px;
}

.choice-period .box-cont .sub-txt {
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    color: #44474a;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.choice-period .box-cont .form-group {
    display: inline-block;
    vertical-align: middle;
}
.choice-period .box-cont .form-control {
    height: 40px;
}

.choice-period .form-group.date .form-control {
    width: 180px;
}

.data-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #eef2fb;
    margin-right: 5px;
    vertical-align: middle;
}

.data-btn:last-child {
    margin-right: 0;
}

.data-btn.download {
    background: #eef2fb url('/common/images/ic-list-download.png') center no-repeat;
}
.data-btn.bookmark {
    background: #eef2fb url('/common/images/ic-list-bookmark.png') center no-repeat;
}
.data-btn.graph {
    background: #eef2fb url('/common/images/ic-list-graph.png') center no-repeat;
}

.data-btn:hover {
    background: #426aff;
}

.data-btn:hover.download {
    background: #426aff url('/common/images/ic-list-download-on.png') center no-repeat;
}
.data-btn:hover.bookmark {
    background: #426aff url('/common/images/ic-list-bookmark-on.png') center no-repeat;
}
.data-btn:hover.graph {
    background: #426aff url('/common/images/ic-list-graph-on.png') center no-repeat;
}

.setting-box .left-wrap {
    width: 808px;
    float: left;
    border: solid 1px #c4c6c8;
    box-sizing: border-box;
    padding: 25px 91px;
    text-align: right;
    position: relative;
    
}

.setting-box .left-wrap:after {
    content:'';
    display: block;
    width: 1px;
    background: #b3b3b3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -16px;
}

.setting-box .left-wrap .setting-board {
    /* width: 626px; */
    height: 612px;
    border: 2px solid #9ca0a5;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 16px;
    position: relative;
}

.setting-box .left-wrap .setting-board .graph-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.setting-box .right-wrap {
    width: 240px;
    float: right;
    border: solid 1px #c4c6c8;
    box-sizing: border-box;
}

.setting-box .layout-btn {
    display: inline-block;
    width: 104px;
    height: 32px;
    border: solid 1px #9ca0a5;
    box-sizing: border-box;
    margin-bottom: 16px;
    text-align: center;
}

.setting-box .layout-btn span {
    font-size: 14px;
    vertical-align: middle;
    line-height: 1;
}

.setting-box .layout-btn span:before {
    content:'';
    display: inline-block;
    width: 14px;
    height: 13px;
    /* background: url('/common/images/ico-layout.png') no-repeat; */
    /* background-size: contain; */
    background: #000;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.setting-box .add-btn {
    display: block;
    width: 100%;
    height: 32px;
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
    text-align: center;
}

.setting-box .add-btn span {
    font-size: 13px;
    color: #426aff;
}

.setting-box .right-wrap .setting-tab li {
    float:left;
    width: 50%;
    border-right: 1px solid #c4c6c8;
    border-bottom: 1px solid #c4c6c8;
    box-sizing: border-box;
}
.setting-box .right-wrap .setting-tab li:last-child {
    border-right:  0;
}
.setting-box .right-wrap .setting-tab li.on {
    border-bottom:1px solid #426aff;
}

.setting-box .right-wrap .setting-tab li .btn {
    display: block;
    background: #eef2fb;
    text-align: center;
    width: 100%;
    height: 50px;
}
.setting-box .right-wrap .setting-tab li.on .btn {
    background: #fff;
}

.setting-box .right-wrap .setting-tab li .btn span {
    color: #636363;
    font-size: 14px;
}
.setting-box .right-wrap .setting-tab li.on .btn span {
    color: #426aff;
}

.setting-box .option .title {
    font-size: 14px;
    color: #636363;
    margin-bottom: 17px;
}

.setting-box .option-wrap {
    padding: 24px;
}

.setting-box .option-wrap .btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c4c6c8;
    height: 32px;
    margin-bottom: 24px;
}
.setting-box .option-wrap .btn:last-child {
    margin-bottom: 0;
}

.setting-box .option-wrap .btn span {
    color: #426aff;
    line-height: 1;
}


.setting-box .option-list {
    padding: 8px 10px 8px 14px;
}

.setting-box .option-list li {
    margin-bottom: 8px;
}
.setting-box .option-list li:last-child {
    margin-bottom: 0;
}

.setting-box .option-list .select-ttl {
    font-size: 12px;
    float: left;
    display: block;
    padding-top: 15px;
    line-height: 1;
}

.setting-box .option-list .form-control {
    width: 99px;
    float: right;
    font-size: 13px;
}


.setting-box .month-list {
    padding: 8px 10px;
    border-top: 1px solid #c4c6c8;
}

.setting-box .month-list li {
    width: calc(100% / 3);
    float: left;
}

.setting-box .month-list label {
    font-size: 13px;
    color: #44474a
}

.setting-box .month-list input[type="checkbox"] + label:before {
    margin-right: 6px;
}

.setting-box .set-box {
    box-sizing: border-box;
    border: 1px solid #c4c6c8;
    margin-bottom: 16px;
}

.setting-box .set-box .head-ttl {
    background: #f2f5f8 url('/common/images/main-arrow-up.png') no-repeat;
    background-position: right 10px top 50%;
    padding-left: 10px;
    height: 32px;
    border-bottom: 1px solid #c4c6c8;
    box-sizing: border-box;
}

.setting-box .set-box .head-ttl p {
    font-size: 14px;
    color: #636363;
    line-height: 31px;
}

.setting-box .range-form {
    float: left;
}

.setting-box .option-list .range-wrap .select-ttl {
    padding-top: 0;
}

.setting-box .range-form {
    display: flex;
    justify-content: space-between;
}
.setting-box .range-form li {
    flex-basis: 83px;
}

.setting-box .box-header {
    margin-bottom: 17px;
}

.setting-box.version2 .left-wrap {
    width: 100%;
    padding: 73px 91px;
}
.setting-box.version2 .left-wrap:after {
    display: none;
}


/* 커뮤니티 */
.square-filter {
    display: flex;
    margin-bottom: 32px;
    margin-top: 24px;
}

.square-filter .select-all {
    width: 175px;
    height: 132px;
    margin-right: 8px;
}

.square-filter .filter-box {
    width: 897px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.square-filter .filter-box .filter-list {
    width: 173px;
}

.square-filter .filter-item {
    display: block;
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
    width: 173px;
    height: 62px;
    font-size: 14px;
    color: #3f3f3f;
}

.square-filter .select-all .filter-item {
    height: 132px;
}

.square-filter .filter-item span {
    display: block;
}

.square-filter .filter-item.active {
    background: #426aff;
    border: 1px solid #426aff;
    
}

.square-filter .filter-item.active span {
    color: #fff;
}

.square-filter .filter-item.disabled {
    background: #f2f3f7;
}

.square-filter .filter-item.disabled span {
    color:#707070;
}

.board-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #426aff;
    align-items: flex-end;
}
.board-head .ttl {
    font-size: 15px;
    margin-bottom: 3px;
}
.board-head .ttl em {
    color: #dd2a2f;
    font-family: 'NotoSansKR-Medium';
}

.board-head .setting {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.setting .set-text {
    color: #3f3f3f;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 4px;
}

.setting .form-control {
    width: 120px;
}

.setting .order {
    margin-right: 20px;
}

.setting .bttn {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #c4c6c8;
    vertical-align: middle;
}

.setting .bttn.btn-up {
    background: url('/common/images/ic-arrow-up.png') center no-repeat;
}
.setting .bttn.btn-down {
    background: url('/common/images/ic-arrow-down.png') center no-repeat;
}
.setting .bttn.btn-up.active {
    background: url('/common/images/ic-arrow-up-on.png') center no-repeat;
    border: 1px solid #426aff;
}
.setting .bttn.btn-down.active {
    background: url('/common/images/ic-arrow-down-on.png') center no-repeat;
    border: 1px solid #426aff;
}

.graph-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.graph-list .graph-box {
    margin-top: 24px;
    width: 344px;
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
}

.graph-list .graph-box .title-wrap {
    padding: 20px 25px;
}

.graph-list .graph-box .title-wrap .title {
    font-family: 'NotoSansKR-Medium';
    font-size: 22px;
    color: #3f3f3f;
    margin-bottom: 6px;
}

.graph-list .graph-box span {
    font-family: 'NotoSansKR-Medium';
    font-size: 18px;
    color: #777;
    line-height: 1;
}
.graph-list .graph-box .name:after {
    display: inline-block;
    content:'';
    width: 1px;
    height: 14px;
    background: #777;
    margin: 0 6px 0 10px;
}
.graph-list .graph-box .date {
    display: block;
    margin-top: 4px;
}

.graph-list .graph-wrap {
    border-top: 1px solid #c4c6c8;
    border-bottom: 1px solid #c4c6c8;
    height: 219px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.graph-list .graph-wrap img {
    height: 100%;
}

.graph-list .etc-wrap {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 25px;
}

.graph-list .etc-wrap .info-wrap dl,
.graph-list .etc-wrap .info-wrap dt,
.graph-list .etc-wrap .info-wrap dd {
    display: inline-block;
    vertical-align: text-bottom;
    color: #777;
    font-size: 14px;
    font-family: 'NotoSansKR-Medium';
}
.graph-list .etc-wrap .info-wrap dl:after {
    display: inline-block;
    content:'';
    width: 1px;
    height: 12px;
    background: #777;
    margin: 0 9px;
}
.graph-list .etc-wrap .info-wrap dl:last-child:after {
    display: none;
}
.graph-list .etc-wrap .btn-wrap {
    height: 19px;
}
.graph-list .etc-wrap .btn-wrap .delete-btn {
    background: url('/common/images/ic-delete.png') center no-repeat;
    width: 17px;
    height: 19px;
    margin-right: 12px;
}
.graph-list .etc-wrap .btn-wrap .bookmark-btn {
    background: url('/common/images/ic-comm-bookmark.png') center no-repeat;
    width: 15px;
    height: 19px;
}
.graph-list .etc-wrap .btn-wrap .delete-btn.on {
    background: url('/common/images/ic-delete-on.png') center no-repeat;
}
.graph-list .etc-wrap .btn-wrap .bookmark-btn.on {
    background: url('/common/images/ic-comm-bookmark-on.png') center no-repeat;
}

.common-search .box-header {
    margin-bottom: 21px;
}

.common-search .box-header .form-inline {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 7px;
}

.common-search .form-wrap {
    display: flex;
    padding-top: 8px;
    
}
.common-search .form-wrap.align-right {
    justify-content: flex-end;
}
.common-search .form-wrap.align-between {
    justify-content: space-between;
}

.common-search .form-wrap.align-center {
    justify-content: center;
}

.common-search .form-wrap.align-right .form-group {
    margin-left: 8px;
}
.common-search .form-wrap.align-right .form-group:first-child {
    margin-left: 0;
}

.form-group .option-title {
    font-size: 12px;
    color: #3e3e3e;
    margin-right: 4px;
}
.community02 .box-header {
    margin-bottom: 32px;
}

.community02 .box-body {
    margin-top: 0;
    border-top: 0;
}

.external-data .list {
    margin-top: 24px;
    width: 100%;
    border: solid 1px #c4c6c8;
    box-sizing: border-box;
}

.external-data .list a {
    display: block;
    padding: 18px 24px;
}

.external-data .list .title {
    font-family: 'NotoSansKR-Medium';
    font-size: 22px;
    color: #3f3f3f;
}
.external-data .list a:hover .title {
    color: #426aff;
}

.external-data .list .name,
.external-data .list .area {
    font-family: 'NotoSansKR-Medium';
    font-size: 18px;
    color: #777;
}
.external-data .list .name:after {
    display: inline-block;
    content:'';
    width: 1px;
    height: 14px;
    background: #777;
    margin: 0 10px 0 14px;
}

.external-data .list .title-wrap {
    position: relative;
}
.external-data .list .view-btn {
    position: absolute;
    right: 0;
    top: 0;
}
.external-data .list .view-btn {
    font-family: 'NotoSansKR-Medium';
    font-size: 16px;
    color: #5d5d5d;
}
.external-data .list a:hover .view-btn {
    color: #426aff;
}

.external-data .list .date {
    font-family: 'NotoSansKR-Medium';
    font-size: 18px;
    color: #777;
}

.external-data .etc-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.external-data .list .etc-list dl,
.external-data .list .etc-list dt,
.external-data .list .etc-list dd {
    font-family: 'NotoSansKR-Medium';
    font-size: 14px;
    color: #777;
    display: inline-block;
    vertical-align: middle;
}

.external-data .list .etc-list dl:after {
    display: inline-block;
    content:'';
    width: 1px;
    height: 12px;
    background: #777;
    margin: 0 11px;
    vertical-align: middle;
    position: relative;
    top: 1px;
}
.external-data .list .etc-list dl:last-child:after {
    display: none;
}

.btn-ex-data {
    border: 0;
    background: #426aff;
    color: #fff;
    vertical-align: top;
    width: 240px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    float: right;
}



.box-body table.type02 .text-area td {
    padding: 8px 15px;
}

.view .box-body {
    border-top: 1px solid #426aff;
}
.btn.btn-warning {
    border: 0;
    background: #e33d3e;
    color: #fff;
    vertical-align: top;
    width: 160px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}

.btn-wrap-right {
    float: right;
}

.btn-wrap-right .btn {
    margin-left: 6px;
}
.btn-wrap-right .btn:first-child {
    margin-left: 0;
}


.btn.btn-bookmark {
    width: 50px;
    height: 50px;
    border: solid 1px #5e6369;
    box-sizing: border-box;
    background: #eef2fb url('/common/images/ic-view-bookmark.png') center no-repeat;
}

.btn.btn-bookmark:hover {
    border: solid 1px #426aff;
    background: #eef2fb url('/common/images/ic-view-bookmark-on.png') center no-repeat;
}

.community03 .btn.btn-bookmark {
    margin-left: 4px;
}

.info01 .content-header {
    border-bottom: 1px solid #426aff;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.info01 .content01 .text {
    font-size: 20px;
    letter-spacing: -1px;
}

.info01 .content01 .img-wrap {
    margin-top: 36px;
}

.info01 .content01 .img-wrap img {
    width: 100%;
}

.info01 .content02 {
    padding-bottom: 60px;
}

.info01 .content02 .guide-btn {
    position: absolute;
    right: 0;
    bottom: 24px;
    display: block;
    width: 229px;
    height: 40px;
    background: #223786;
    text-align: center;
}

.info01 .content02 .guide-btn span {
    color: #fff;
    line-height: 39px;
    font-family: 'NotoSansKR-Bold';
}

.info01 .content02 .circle-list {
    display: flex;
    justify-content: space-between;
}

.info01 .content02 .circle-list .circle-title {
    width: 208px;
    height: 208px;
    border-radius: 100%;
    background: #eef2fb;
    text-align: center;
    display: table;
}

.info01 .content02 .circle-list .circle-title span {
    font-family: 'NotoSansKR-Bold';
    font-size: 20px;
    color: #4b77d8;
    display: table-cell;
    vertical-align: middle;
}

.info01 .content02 .circle-list .text-list {
    margin-top: 33px;
    position: relative;
    width: 250px;
    margin-right: 40px;
}

.info01 .content02 .circle-list .text-list:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 110px;
    background: #b2b6b9;
}
.info01 .content02 .circle-list li:last-child .text-list:after {
    display: none;
}

.info01 .content02 .circle-list .text-list li {
    font-size: 14px;
    line-height: 1.92;
    position: relative;
    padding-left: 14px;
    color: #242424;
}
.info01 .content02 .circle-list .text-list li:before {
    position: absolute;
    content:'';
    left: 0;
    top: 11px;
    display: block;
    width: 6px;
    height: 6px;
    background: #b2b6b9;
    border-radius: 3px;
}
.accor-wrap .accor-li .accor-ttl {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    border-bottom: 1px solid #c4c6c8;
    cursor: pointer;
}
.accor-wrap .accor-li .accor-ttl .category {
    width: 104px;
    font-size: 16px;
    position: relative;
}
.accor-wrap .accor-li .accor-ttl .category:after {
    position: absolute;
    right: 0;
    top: 7px;
    content:'';
    display: block;
    width: 1px;
    height: 12px;
    background: #3f3f3f;
}
.accor-wrap .accor-li .accor-ttl .title {
    padding-left: 30px;
    font-size: 16px;
}
/* .accor-wrap .accor-li .accor-ttl:hover .title,
.accor-wrap .accor-li .accor-ttl:hover .category, */
.accor-wrap .accor-li .accor-ttl.on .title,
.accor-wrap .accor-li .accor-ttl.on .category {
    color: #426aff;
    font-family: 'NotoSansKR-Medium';
}

.accor-wrap .accor-li .accor-txt {
    display: none;
    font-size: 16px;
    background: #fafafa;
    padding: 30px 30px 40px 167px;
    border-bottom: 1px solid #c4c6c8;
}


.btn-info,
.post-btn {
    border: 0;
    background: #426aff;
    color: #fff;
    vertical-align: top;
    min-width: 160px;
    padding: 0 30px;
    height: 50px;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    float: right;
}

.btn-wrap-right .btn-info {
    float: none;
}


.check-wrap .check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.check-wrap .check-list .check-box {
    width: 344px;
    border: 1px solid #c4c6c8;
    margin-top: 20px;
}

.check-wrap .check-list .check-box:nth-child(-n+3) {
    margin-top: 0;
}

.check-wrap .check-list .check-box .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 70px;
}
.check-wrap .check-list .check-box .title-wrap .title {
    font-size: 22px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    width: 247px;
    overflow:hidden;
}

.check-wrap .star-btn {
    width: 20px;
    height: 20px;
    background: url('/common/images/ic-mypage-star.png');
}
.check-wrap .star-btn.on {
    background: url('/common/images/ic-mypage-star-on.png');
}

.check-wrap .graph-wrap {
    border-top: 1px solid #c4c6c8;
    border-bottom: 1px solid #c4c6c8;
    height: 219px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.check-wrap .graph-wrap img {
    height: 100%;
}

.check-wrap .etc-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 70px;
}

.check-wrap .etc-wrap .select-input input[type="checkbox"] + label:before {
    width: 22px;
    height: 22px;
}

.check-wrap .etc-wrap .date span {
    color: #777;
}

.check-wrap .top-wrap {
    display: flex;
    justify-content: space-between;
    height: 54px;
    align-items: center;
}


.check-wrap .all-delete span {
    font-size: 16px;
    color: #5d5d5d;
    font-family: 'NotoSansKR-Medium';
}

.check-wrap .all-delete:hover span {
    color: #e33d3e;
}

.check-wrap .all-check input[type="checkbox"] + label:before {
    width: 22px;
    height: 22px;
}
.check-wrap .all-check input[type="checkbox"] + label {
    color: #5d5d5d;
    vertical-align: middle;
}

.check-wrap .check-box-wide {
    width: 100%;
    height: 140px;
    border: 1px solid #c4c6c8;
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-wrap .check-box-wide .button-wrap {
    width: 176px;
    position: relative;
}


.check-wrap .check-box-wide .button-wrap .bttn {
    width: 176px;
    height: 40px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.check-wrap .check-box-wide .button-wrap .bttn:last-child {
    margin-bottom: 0;
}
.check-wrap .check-box-wide .button-wrap .bttn span {
    font-size: 16px;
    line-height: 39px;
    font-family: 'NotoSansKR-Medium';
}
.check-wrap .check-box-wide .button-wrap .bttn.view-more-btn {
    background: #eef2fb;
    border: 1px solid #426aff;
}
.check-wrap .check-box-wide .button-wrap .bttn.view-more-btn span {
    color: #426aff;
}
.check-wrap .check-box-wide .button-wrap .bttn.download-btn {
    background: #426aff;
}
.check-wrap .check-box-wide .button-wrap .bttn.download-btn span {
    color: #fff;
}
.check-wrap .check-box-wide .button-wrap .bttn.view-more-btn:hover {
    background: #426aff;
    border: 0;
}
.check-wrap .check-box-wide .button-wrap .bttn.view-more-btn:hover span {
    color: #fff;
}
.check-wrap .check-box-wide .button-wrap .bttn.download-btn:hover {
    background: #223786;
}

.check-wrap .check-box-wide .title-wrap {
    width: 760px;
    padding-left: 24px;
    height: 90px;
    position: relative;
    border-left: 1px solid #c4c6c8;
}

.check-wrap .check-box-wide .title-wrap .title {
    font-size: 22px;
    font-family: 'NotoSansKR-Medium';
    color: #3f3f3f;
    display: inline-block;
    vertical-align: middle;
}

.check-wrap .check-box-wide .title-wrap .star-btn {
    display: inline-block;
    margin-left: 11px;
    vertical-align: middle;
}

.check-wrap .check-box-wide .title-wrap .date {
    position: absolute;
    left: 24px;
    bottom: 0;
    color: #777;
    font-family: 'NotoSansKR-Medium';
    font-size: 18px;
}

.check-wrap .check-box-wide input[type="checkbox"] + label:before {
    width: 22px;
    height: 22px;
}

.check-wrap .check-box-wide {
    margin-bottom: 20px;
}
.check-wrap .check-box-wide:last-child {
    margin-bottom: 0;
}



.check-wrap .check-box-wide .title-wrap .category {
    display: block;
    color: #426aff;
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
}
.check-wrap .button-wrap.type02 {
    height: 100px;
    text-align: right;
}
.check-wrap .button-wrap.type02 .view-more span { 
    font-size: 16px;
    font-family: 'NotoSansKR-Medium';
    color: #5d5d5d;
}

.check-wrap .check-box-wide .title-wrap .title {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    max-width: 700px;
}

.mgt32 {
    margin-top: 32px;
}


.no-data {
    border: 0 !important;
    text-align: center;
    padding: 40px 0;
}


.table td input[name="upload"] {
    border: 0;
    width: auto;
    min-height: auto;
}

.fileBoxWrap {
    display: flex;
    align-items: center 
}

.fileBoxWrap > .form-control {
    /* padding: 10px 0; */
}

.input_file_wrap {
    margin-left: 10px;
    margin-top: 5px;
}

.input_file_wrap:first-child {
    margin-top: 0;
}

ol.tab-cont li {
    display: none;
}

ol.tab-cont li.active {
    display: block;
}

.layout-box {
    display: flex;
    flex-wrap: wrap;
}

.layout-box > div {
    /* flex-basis: auto; */
}

.layout-box .img-box img {
    display: block;
    width: 100%;
}

.layout-box .sub-title {
    font-family: 'NotoSansKR-Bold';
    font-size: 20px;
}

.box-button {
    text-align: right;
}

.form-group .only-search {
    background: url(/common/images/ic-search.png) center no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.btn[onclick^=fnRemoveLine] {
    width: 55px;
    height: 32px;
    font-size: 14px;
}

.table .checkbox {
    margin-top: 5px;
}

.table .checkbox:first-child {
    margin-top: 0;
}