@charset "utf-8";

/********* sub.css **********/

/* font-family: 'NotoSansKR-Bold';
font-family: 'NotoSansKR-Medium';
font-family: 'NotoSansKR-Regular';
font-family: 'NotoSansKR-Light'; */

/* 공통 */
.hidden-txt {
	position:absolute !important;  
	width:1px; 
	height:1px; 
	overflow:hidden;
	clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip:rect(1px, 1px, 1px, 1px);
}

/* selectBox */
.select-form {
    box-sizing: border-box;
    border: 1px solid #c4c6c8;
    border-radius: 3px;
	font-size: 12px;
	color: #44474a;
	padding-left: 9px;
	height: 41px;
	font-family: 'NotoSansKR-Regular';
	background: #fff url('/common/images/ic-arrow.png') no-repeat;
    background-position: 92% 52%;
    background-size: 9px 5px;
    letter-spacing: -0.6px;
}

select.select-form { 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none;
}

/* 검색 input */
.search-box {
    position: relative;
    border-radius: 3px;
    border: 1px solid  #c4c6c8;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.search-box .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: url('/common/images/ic-search.png') center no-repeat;
    background-size: 22px 22px;
    width: 39px;
    height: 100%;
    border: 0;
    cursor: pointer;
    padding: 0;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select.select-form::-ms-expand { display: none; } 
 

/* layout */
.content-wrapper,
#contents {
    min-width: 1080px;
    padding-top: 64px;
    min-height: calc(100vh - 125px) !important;
}

#contents > section:first-child {
    padding-top: 60px;
}

section.inner {
    width: 1080px;
    margin: 0 auto;
}

.content-header h1,
.sub-ttl {
    font-family: 'NotoSansKR-Bold';
    font-size: 24px;
    color: #44474a;
}


.content-header h1 + small,
.sub-txt {
    font-size: 16px;
    color: #44474a;
}


/* table */
.text-left {
    text-align: left !important;
}

.table-wrap table {
    
    border-top: 1px solid #426aff;
    border-bottom: 1px solid #c4c6c8;
}

.table-wrap table th,
.table-wrap table td {
    font-size: 14px;
    letter-spacing: -0.7px;
}

.table-wrap table caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.table-wrap table th {
    background: #f5f7fa;
}


/* type01 */
.table-wrap table {
    width: 1080px;
}

.table-wrap.type01 table th {
    height: 50px;
    line-height: 50px;
}

.table-wrap.type01 table td {
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #c4c6c8;
    border-top: 1px solid #c4c6c8;
}

.table-wrap.type01 table td:last-child {
    border-right: 0;
}

.table-wrap.type01 table .text-left {
    padding-left: 15px;
}

/* pagination */
#contents .option-bar {position: relative;}
#contents .pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#contents .pagination .bttn {
    width: 32px;
    height: 32px;
    border: 1px solid #adadad;
    box-sizing: border-box;
    background: #fff;
}

#contents .pagination .bttn.prev-btn {
    background: url('/common/images/bu_arrow_location.png') center no-repeat;
    background-size: 5px 9px;
}
#contents .pagination .bttn.next-btn {
    background: url('/common/images/bu_arrow_location_right.png') center no-repeat;
    background-size: 5px 9px;
}

#contents .pagination ul {
    display: flex;
    margin: 0 24px;
}
#contents .pagination li {
    margin-right: 16px;
}
#contents .pagination li:last-child {
    margin-right: 0;
}
#contents .pagination li a {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #adadad;
    color: #3f3f3f;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
#contents .pagination li a.active {
    background: #eef2fb;
    border: 1px solid #426aff;
    color: #426aff;
}





/* 서비스열람 > 서비스 데이터 */
.service-data {padding-bottom: 60px;}

.service-data .search-bar {
    background: #eef2fb;
    margin-top: 40px;
    margin-bottom: 21px;
    padding: 8px 16px;
}

.service-data .search-bar .form-wrap {
    float: left;
    margin-right: 8px;
}
.service-data .search-bar .form-wrap:last-child {
    margin-right: 0;
}

.service-data .search-bar .form-wrap:nth-child(1) .select-form {
    width: 120px;
}

.service-data .search-bar .form-wrap:nth-child(2) .select-form,
.service-data .search-bar .form-wrap:nth-child(3) .select-form {
    width: 120px;
}

.service-data .search-bar .form-wrap:nth-child(4) .select-form {
    width: 200px;
}

.service-data .search-bar .form-wrap:nth-child(5) .select-form,
.service-data .search-bar .form-wrap:nth-child(6) .select-form {
    width: 100px;
}

.service-data .search-bar .search-box {
    width: 232px;
    height: 41px;
}

.service-data .search-bar .form-wrap .search-input {
    box-sizing: border-box;
    width: 192px;
    border: 0;
    display: block;
    text-indent: 9px;
    height: 100%;
}



.service-data .table-wrap {
    margin-bottom: 20px;
}

.service-data .option-bar .form-wrap .select-form {
    width: 120px;
}




